@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: #d3d3d3;
  border: 2px solid transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d3d3d3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 10px;
  border: 2px solid #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}
